.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdeef1;
  padding: 0.8rem 2rem;
  border-bottom: 1px solid #ffe3ec;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  font-family: Inter, sans-serif;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #e5738c;
}

.cart-link img {
  height: 28px;
  cursor: pointer;
}
