.product-card {
  width: 250px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(255, 119, 180, 0.692);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #f8e6ec;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(249, 41, 114, 0.708);
}

.product-image {
  width: 180px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  margin: 10px 0;
  color: #2e2e2e;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 0 10px;
}

.price {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.orders {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #666;
}

.cart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cart-icon:hover {
  transform: scale(1.2);
}
