.carousel {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
  border-radius: 0;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #d05c83;
  border-radius: 50%;
  transition: background 0.3s;
}

.carousel button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.carousel .prev {
  left: 20px;
}

.carousel .next {
  right: 20px;
}


.best-sellers {
  padding: 50px 0;
  text-align: center;
  background: #fff;
}

.best-sellers h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 40px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.express {
  background-color: #fdeef1;
  text-align: center;
}

.express-img {
  width: 100%;
  height: auto;
}
