.catalogue {
  background-color: #ffe3e6;
  min-height: 100vh;
  padding: 6rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogue-grid {
  /* display: grid; */
  /*grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
 /*  gap: 2rem; */
  width: 95%;
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
